.contactLinks {
  display: flex;
  color: #e4e5e6;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.contactLinks h3 {
  margin: 0.2rem;
  color: #fff;
  font-size: 1.7rem;
}
.sectionHeading {
  text-align: center;
  color: #fdfdfd;
  margin: 3rem;
  font-size: 3.2rem;
}

.socialMediaIcons > * {
  padding: 0 0.8rem;
}

.socialMediaIcons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
