/* General Footer Styling */
.footer {
  padding: 2rem;
  background-color: #121212;
  color: #e4e5e6;
}

/* Section Heading */
.sectionHeading {
  text-align: center;
  color: #fdfdfd;
  margin: 3rem;
  font-size: 3.2rem;
}

.additionalLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h4.callLink {
  margin: 0.2rem;
  color: #fff;
  /* font-size: 1.7rem; */
}

.socialMediaIcons > * {
  padding: 0 0.8rem;
}

.socialMediaIcons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
