.bannerHeader .bannerMainContent .bannerBtn {
  margin-left: 11%;
}

.sectionHeading {
  text-align: center;
  color: #fdfdfd;
  margin: 3rem;
  font-size: 3.2rem;
}

.aboutMe h3 {
  color: #fff;
}

.aboutMain {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.alignCenter {
  text-align: center;
}
