.bannerHeader {
  color: #fdfdfd;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.bannerHeader .bannerMainContent .bannerText {
  color: #a3a4a7;
}

.bannerMainContent {
  width: 80%;
  z-index: 99;
}

.bannerBgImages {
  position: absolute;
  right: 0;
  z-index: 1;
}
.gradientText {
  background: #ba520a;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
