.sectionHeading {
  text-align: center;
  color: #fdfdfd;
  margin: 3rem;
  font-size: 3.2rem;
}
.additionalSkills .skillsFx ul li {
  list-style-type: disc;
  color: #b7b8b8;
  padding: 0.5rem;
}

.additionalSkills .skillsFx {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectsCards,
.technologiesTab,
.skillsFx,
.aboutMe {
  width: 85%;
  margin: auto;
}

@media (max-width: 495px) {
  .additionalSkills .skillsFx ul li {
    list-style-type: none;
  }
}
